*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 55%; } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #6D5D4B;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 7rem calc(90vh - 7rem) min-content 45vw min-content 45vw min-content min-content;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-rows: 7rem calc(90vh - 7rem); } }

.heading-1, .heading-2, .heading-4, .heading-3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }
  .heading-2--contact {
    text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-2 {
      font-size: 3rem; } }

.heading-4 {
  font-size: 2.2rem; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover, .btn:active {
    background-color: #B28451;
    transform: translateY(-3px); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.8), rgba(198, 153, 99, 0.8)), url(../img/background-flower-small.jpg);
  background-size: cover;
  background-position: center;
  grid-column: full-start / full-end; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-width: 62.5em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.8), rgba(198, 153, 99, 0.8)), url(../img/background-flower.jpg); } }

.heading-box {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding-left: 20vw; }
  @media only screen and (max-width: 50em) {
    .heading-box {
      padding-left: 15vw; } }
  .heading-box .heading-1 {
    margin-left: -.3rem;
    margin-bottom: 1rem; }
  .heading-box .heading-3 {
    color: #efd2b1;
    font-size: 1.9rem;
    margin-bottom: 0.7rem; }

.socials {
  display: flex;
  justify-content: flex-start; }

.social__fb--icon {
  width: 3.4rem;
  height: 3.4rem;
  margin-right: 0.8rem;
  fill: #efd2b1; }

.social__ig--icon {
  width: 3.4rem;
  height: 3.4rem;
  fill: #efd2b1; }

.social__fb--icon:hover, .social__ig--icon:hover {
  transform: scale(1.2);
  transition: all 200ms ease-in-out; }

.main-nav {
  grid-column: full-start / full-end;
  position: relative;
  text-align: center;
  width: 100%; }

.main-nav h1 {
  padding: 1rem; }

.nav-toggle {
  display: none; }

.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 2rem;
  margin-left: 1.6rem;
  height: 100%;
  display: flex;
  align-items: center; }

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background-color: #231f20;
  height: 2px;
  width: 3em;
  border-radius: 2px;
  position: relative; }

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute; }

.nav-toggle-label span::before {
  bottom: 7px; }

.nav-toggle-label span::after {
  top: 7px; }

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  margin: 1.5rem 0 1.6rem 1.6rem; }

nav a {
  color: #101d2c;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 130ms ease-in-out;
  display: block;
  text-align: center; }

nav a:hover {
  color: #c69963; }

.nav-toggle:checked ~ nav {
  transform: scale(1, 1); }

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 200ms; }

.logo-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.logo {
  width: 4rem;
  height: 4rem; }

@media screen and (min-width: 50em) {
  .nav-toggle-label {
    display: none; }
  .main-nav {
    display: grid;
    grid-template-columns: 1fr auto minmax(70rem, 3fr) 1fr; }
  .logo-box {
    grid-column: 2 / 3;
    grid-row-start: 1; }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem; }
  nav li {
    margin-left: 4em;
    margin-bottom: 0; }
  nav a {
    opacity: 1;
    color: #101d2c;
    font-size: 1.7rem;
    position: relative; }
  nav a:hover {
    color: #000; }
  nav a::before {
    content: '';
    display: block;
    height: 2px;
    background: black;
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms; }
  nav a:hover::before {
    transform: scale(1, 1); } }

.features {
  grid-column: center-start / center-end;
  margin: 20rem 0 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }
  @media only screen and (max-width: 75em) {
    .features {
      padding: 5vh;
      margin: 12rem 0; } }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .feature__icon {
    width: 4.2rem;
    height: 4.2rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
    @media only screen and (max-width: 50em) {
      .feature__icon {
        width: 3.5rem;
        height: 3.5rem; } }
  .feature__text {
    font-size: 1.7rem; }

.galleries {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 2rem; }
  @media only screen and (max-width: 50em) {
    .galleries {
      margin: 9rem 2rem; } }

.flowergallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f9f7f6;
  grid-row-gap: 1.5rem;
  box-shadow: 0 1.5rem 8rem rgba(0, 0, 0, 0.4); }
  .flowergallery__img {
    width: 100%;
    grid-column: 1 / -1; }
  .flowergallery__name {
    grid-column: 1 / -1;
    font-size: 2rem;
    justify-self: center;
    font-size: 1.7rem;
    text-align: center;
    width: 85%;
    font-family: "Roboto", sans-serif;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    transform: translateY(-3.5rem); }
  .flowergallery__desc {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    padding: 0 3rem 3rem 3rem;
    text-align: center; }
  .flowergallery__btn {
    grid-column: 1 / -1;
    transform: translateY(0) !important; }

.aboutus__pictures {
  background-color: #c69963;
  grid-column: full-start / col-end 4;
  background-image: linear-gradient(rgba(198, 153, 99, 0.7), rgba(198, 153, 99, 0.7)), url(../img/img-bg.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .aboutus__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.aboutus__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 62.5em) {
    .aboutus__img--1 {
      grid-column: 1 / 5;
      grid-row: 1 / -1; } }

.aboutus__img--2 {
  width: 105%;
  grid-row: 4 / 6;
  grid-column: 4 / 7;
  z-index: 10;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
  transform: translateX(3rem); }
  @media only screen and (max-width: 62.5em) {
    .aboutus__img--2 {
      grid-row: 1 / -1;
      width: 100%; } }

.aboutus__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 62.5em) {
    .aboutus__content {
      grid-column: 1 / -1; } }

.aboutus__text {
  font-size: 1.5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 75em) {
    .aboutus__text {
      margin-bottom: 3rem; } }

.customgallery {
  grid-column: full-start / full-end;
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem; }
  .customgallery__item--1 {
    grid-row: 1 / 3;
    grid-column: 1 / 3; }
  .customgallery__item--2 {
    grid-row: 1 / 4;
    grid-column: 3 / 4; }
  .customgallery__item--3 {
    grid-row: 1 / 3;
    grid-column: 4 / 6; }
  .customgallery__item--4 {
    grid-row: 1 / 4;
    grid-column: 6 / 7; }
  .customgallery__item--5 {
    grid-row: 1 / 3;
    grid-column: 7 / 9; }
  .customgallery__item--6 {
    grid-row: 3 / 6;
    grid-column: 1 / 3; }
  .customgallery__item--7 {
    grid-row: 3 / 6;
    grid-column: 1 / 3; }
  .customgallery__item--8 {
    grid-row: 4 / 8;
    grid-column: 3 / 5; }
  .customgallery__item--9 {
    grid-row: 3 / 4;
    grid-column: 4 / 5; }
  .customgallery__item--10 {
    grid-row: 4 / 6;
    grid-column: 5 / 7; }
  .customgallery__item--11 {
    grid-row: 3 / 6;
    grid-column: 7 / 8; }
  .customgallery__item--12 {
    grid-row: 5 / 8;
    grid-column: 8 / 9; }
  .customgallery__item--13 {
    grid-row: 6 / 8;
    grid-column: 6 / 8; }
  .customgallery__item--14 {
    grid-row: 3 / 4;
    grid-column: 5 / 6; }
  .customgallery__item--15 {
    grid-row: 6 / 8;
    grid-column: 1 / 3; }
  .customgallery__item--16 {
    grid-row: 3 / 5;
    grid-column: 8 / 9; }
  .customgallery__item--17 {
    grid-row: 6 / 8;
    grid-column: 5 / 6; }
  .customgallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.contact__first {
  background-color: #f9f7f6;
  grid-column: full-start / col-end 4;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .contact__first {
      grid-column: 1 / -1; } }

.contact__second {
  grid-column: col-start 5 / full-end;
  background-image: linear-gradient(rgba(198, 153, 99, 0.9), rgba(198, 153, 99, 0.9)), url(../img/contact-bg.jpg);
  background-size: 145%; }
  @media only screen and (max-width: 75em) {
    .contact__second {
      grid-column: 1 / -1; } }

.contact__icons {
  font-size: 1.7rem; }

.contact__mobile {
  display: flex;
  align-items: center; }
  .contact__mobile--icon {
    fill: #B28451;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem; }

.contact__email {
  display: flex;
  align-items: center; }
  .contact__email--icon {
    fill: #B28451;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem; }

.contact__address {
  display: flex;
  align-items: center; }
  .contact__address--icon {
    fill: #B28451;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem; }

.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 4rem; }

.bottom_nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5rem;
  align-items: center; }
  .bottom_nav__link:link, .bottom_nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .bottom_nav__link:hover, .bottom_nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 4rem;
  text-align: center; }

.modal-content {
  font-size: 2rem; }

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); }

.modal-header {
  background-color: #B28451;
  padding: 1.5rem;
  color: #fff;
  text-align: center; }

@media only screen and (max-width: 37.5em) {
  .closeBtn_Fl_Sl + h2 {
    font-size: 2.6rem; }
  .closeBtn_Fl_Ok + h2 {
    font-size: 1.8rem; }
  .closeBtn_Fl_Po + h2 {
    font-size: 2rem; } }

.modal-body {
  padding: 3rem 2rem; }

.modal-footer {
  background-color: #B28451;
  padding: 1rem;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .modal-footer {
      font-size: 1.8rem; } }

.modal-content {
  background-color: #f4f4f4;
  margin: 3% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.3), 0 7px 20px 0 rgba(0, 0, 0, 0.3);
  animation-name: bounceInDown;
  animation-duration: .6s;
  backface-visibility: hidden; }
  @media only screen and (max-width: 37.5em) {
    .modal-content {
      width: 77%; } }

.closeBtn_Fl_Sl, .closeBtn_Fl_Ok, .closeBtn_Fl_Po {
  color: #fff;
  float: right;
  font-size: 3rem; }

@media only screen and (max-width: 37.5em) {
  .closeBtn_Fl_Ok, .closeBtn_Fl_Po {
    font-size: 3rem;
    margin-top: -.7rem; } }

.closeBtn_Fl_Sl:hover, .closeBtn_Fl_Ok:hover, .closeBtn_Fl_Po:hover,
.closeBtn_Fl_Sl:focus, .closeBtn_Fl_Ok:focus, .closeBtn_Fl_Po:focus {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2); }

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.modal_socials {
  display: flex;
  margin-top: .7rem;
  margin-left: .7rem; }

.modal_fb--icon {
  width: 3rem;
  height: 3rem;
  fill: #efd2b1;
  margin-right: .5rem; }

.modal_ig--icon {
  width: 3rem;
  height: 3rem;
  fill: #efd2b1; }

.modal_fb--icon:hover, .modal_ig--icon:hover {
  transform: scale(1.2);
  transition: all 200ms ease-in-out; }

.modal-body > header {
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  display: -webkit-box;
  display: flex; }

.modal-body > header div {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 200px;
  margin: .5vw; }

.modal-body > header div img {
  width: 100%;
  height: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.modal-body > header div img:hover {
  transform: scale(1.05);
  box-shadow: 0 1.5rem 8rem rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 250ms; }

@media screen and (max-width: 400px) {
  .modal-body > header div {
    margin-bottom: 2rem; }
  .modal-body > header {
    padding: 0; } }
